*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-items{
  width: 100%;
  z-index: 10;
  padding: 1rem 10%;  
  background: none;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.5s ease;
  background: var(--color5);
  border-bottom: 3px solid var(--color4);
}
.navbar-items.sticky{
  transition: 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-menu{
  display: flex;
  flex-direction: row;
  margin: auto 0rem;
  list-style: none;
  text-align: center;
}

.nav-links{
  padding: .2rem 3rem .2rem 0;
  color: var(--color3);
  text-decoration: none;
  margin-left: 1rem;
  width: 80vw;
  font-size: 1rem;
  font-family: var(--fontHead);
  text-transform: uppercase;
  cursor: pointer;
}

.nav-links:hover{
  color: var(--color4);
  transition: all 0.2s ease-out;
  text-decoration: none;
}

.nav-links-mobile{
  display: none;
}

.menu-icon{
  display: none;
}

@media screen and (max-width: 960px){
  .navbar-items{
    background: none;
    border: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;   
    transition: 0.5s ease;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 1rem;
  }
  .navbar-logo{
    display: none;
  }
  .nav-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;
    position: absolute;
    top: -500px;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active{
    top: 0;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  .nav-links{
    text-align: left;
    display: table;
    color: var(--color5);
    padding: 1rem 0;
  }
  .nav-links:hover{
    border-radius: 0;
  }
  .menu-icon{
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--color5);
    z-index: 11;
  }
}



