*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hero{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, #082452, #304c79);
  display: flex;
  justify-content: center;
  align-items: center;
}
.particles{
  height: 100vh;
  width: 100vw;
}
.hero div{
  position: absolute;
  margin: auto;
  color: white
}
.hero h1{
  font-size: 2.5rem;
  line-height: .7rem;
  cursor: default;
  user-select: none;
}
.hero button{
  background: none;
  color: white;
  border: 1px solid white;
  font-size: 1.4rem;
  padding: .5rem 2rem;
  margin-top: 2rem;
  transition: 0.5s all ease;
}
.hero button:hover{
  background-color: #00EAFF;
  transition: 0.5s all ease;
}
.hero button i {
  margin-left: 1rem;
  transition: 0.5s all ease;
  transform: rotateZ(0deg);
}
.hero button:hover i{
  transition: 0.5s all ease;
  transform: rotateZ(90deg);
}
