*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.footer{
    height: calc(20vh - 60px);
    background-color: var(--color5);;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer span{
    color: white;
    font-size: 1rem;
}
.footer button{
    transition: 0.5s ease;
    height: 30px;
    width: 30px;
    margin-bottom: 20px;
    background: var(--color4);
    border: 0 solid var(--color5);
    color: var(--color3);
    position: absolute;
    transform: translateY( -5vh );
}
.footer button:hover{
    transition: 0.5s ease;
    border: 1px solid var(--color5);
}
.footer button:active{
    border: none;
}

@media(max-width: 900px){
    .footer{
        height: 10vh;
    }
    .footer button{
        height: 30px;
        width: 30px;
        margin-bottom: 10px;
    }
}