:root {
  
  --color1: #131322;
  /*--color2: #491111;*/
  --color2: #250808;
  --color3: #F2F4F3;
  --color4: #d63200;
  --color5: #08080a;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  text-align: center;
 /* margin-left: 3rem;
  margin-right: 3rem;*/
}

@media(max-width: 960px){
  .App {
    /*margin: 0;*/
  }
}

/*  COLORS

#145BCC BLUE
#3D6099 DARKED BLUE
#00EAFF CYAN
#FF7340 ORANGE
#CC2A14 RED

*/