*{
    margin: 0;
    padding: 0;
}
.work{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    background-color: var(--color31);
    padding: 10rem 0;
    min-height: calc(100vh - 80px);
}
.heading{
    font-size: 2.5rem;
    color: var(--color1);
    font-family: var(--fontHead);
}
.work-container{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80vw;
}
.work-items{
    display: flex;
    position: relative;
}
.infomask{
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;    
    transition: 0.5s ease;
    opacity: 0;
}
.work-items img {
    transition: 0.5s ease;
    height: 100%;
    width: 100%;
}
.work-items:hover img{
    transition: 0.5s ease;
    opacity: 0;
}
.infomask-child{
    margin: 7rem 0;
    transition: 0.5s ease;
}
.work-items:hover .infomask{
    opacity: 1;
    transition: 0.5s ease;
}
.work-items:hover .infomask-child{
    margin: 1.5rem 0;
    transition: 0.5s ease;
}
.infomask h3{
    font-size: 1.5rem;
}
.infomask button{
    font-size: 1.2rem;
    background: none;
    border: 1px solid var(--color4);
    color: var(--color5);
}
.infomask button:hover{
    background: var(--color4);
    color: var(--color3);
}

@media screen and (max-width: 960px){
    .heading{
        font-size: 2rem;
    }
    .work{
        padding: 4rem 0;
    }
    .work-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 90vw;
        margin-top: 2rem;
    }
}